<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="/static/index/js/mui.min.js"></script>
		<link href="/static/index/css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="/static/index/css/public.css" />
		<script type="text/javascript" charset="utf-8">
			mui.init();
		</script>
		<style type="text/css">
			.img_logo {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				margin-left: 0.625rem;
			}

			.my_top_bg {
				width: 100%;
				background: url(/static/index/img/我的背景@2x.png);
				background-size: 100% 100%;
			}

			.my_top {
				width: 80%;
				margin: 10%;
				margin-bottom: 20%;
				padding-bottom: 15%;
			}

			.my_info {
				padding-left: 20px;
			}

			.border_bot {
				border-color: #3ae2c1;
				padding: 0.5rem 0.9375rem;
			}
			.my_property{
				width: 80%;
				margin: 0 auto;
				padding: 10px ;
				position: absolute;
				top: 16%;
				left: 10%;
				border-radius: 5px;
				border: 1px solid #3AE2C1;
				background-color: rgba(0,0,0,0.5);
			}
			.my_property .a_btn{
				width: 75px;
				margin-right: 0;
			}
		</style>
	</head>
	<body>
		<div class="mui-content mui-scroll-wrapper content_bg">
			<div class="mui-scroll">
				<div class="my_top_bg">
					<div class="flexbox_nowrap flexbox_nowrap_start my_top">
						<div>
							<img src="/static/index/img/logo.png" class="img_logo">
							<div class="mui-text-center">{$user->level_name}</div>
						</div>
						<div class="my_info">
							<div class="white_color my_name">UID:{$user->user_id}</div>
							<div class="white_color my_phone">{:lang('昵称')}:{$user->nickname}</div>
						</div>
					</div>
				</div>
				<div class="my_property">
					<p class="green_color">{:lang('我的资产')}</p>
					<h4 class="green_color">{$user->userfund->USDT} USDT</h4>
					<a href="/index/me/资产" class="a_btn">{:lang('点击查看')}</a>
				</div>
				<a href="/index/me/账户管理" class="flexbox_nowrap flexbox_nowrap_between border_bot">
					<div class="flexbox_nowrap flexbox_nowrap_start">
						<img src="/static/index/img/账户管理0@2x.png" class="img_size">
						<span>{:lang('账户管理')}</span>
					</div>
					<div class="mui-icon mui-icon-forward green_color green_color"></div>
				</a>
				<a href="/index/me/钱包地址" class="flexbox_nowrap flexbox_nowrap_between border_bot" id="real_jump">
					<div class="flexbox_nowrap flexbox_nowrap_start">
						<img src="/static/index/img/钱包地址0@2x.png" class="img_size">
						<span>{:lang('钱包地址')}</span>
					</div>
					<div class="mui-icon mui-icon-forward green_color"></div>
				</a>
				<a href="/index/me/矿机" class="flexbox_nowrap flexbox_nowrap_between border_bot">
					<div class="flexbox_nowrap flexbox_nowrap_start">
						<img src="/static/index/img/矿机0@2x.png" class="img_size">
						<span>{:lang('矿机')}</span>
					</div>
					<div class="mui-icon mui-icon-forward green_color"></div>
				</a>
				<a href="/index/游戏记录" class="flexbox_nowrap flexbox_nowrap_between border_bot">
					<div class="flexbox_nowrap flexbox_nowrap_start">
						<img src="/static/index/img/玩家收益0@2x.png" class="img_size">
						<span>{:lang('玩家收益')}</span>
					</div>
					<div class="mui-icon mui-icon-forward green_color"></div>
				</a>
				<a href="/index/me/收益记录" class="flexbox_nowrap flexbox_nowrap_between border_bot">
					<div class="flexbox_nowrap flexbox_nowrap_start">
						<img src="/static/index/img/分红0@2x.png" class="img_size">
						<span>{:lang('分红')}</span>
					</div>
					<div class="mui-icon mui-icon-forward green_color"></div>
				</a>
				<a href="/index/me/团队" class="flexbox_nowrap flexbox_nowrap_between border_bot">
					<div class="flexbox_nowrap flexbox_nowrap_start">
						<img src="/static/index/img/推广邀请0@2x.png" class="img_size">
						<span>{:lang('推广邀请')}</span>
					</div>
					<div class="mui-icon mui-icon-forward green_color"></div>
				</a>
				{if condition="$user.pan_user_id == 0"}
				<a href="/index/me/安全" class="flexbox_nowrap flexbox_nowrap_between border_bot">
					<div class="flexbox_nowrap flexbox_nowrap_start">
						<img src="/static/index/img/安全中心0@2x.png" class="img_size">
						<span>{:lang('安全中心')}</span>
					</div>
					<div class="mui-icon mui-icon-forward green_color"></div>
				</a>
				{/if}
				<a href="/index/me/关于我们" class="flexbox_nowrap flexbox_nowrap_between border_bot">
					<div class="flexbox_nowrap flexbox_nowrap_start">
						<img src="/static/index/img/关于我们0@2x.png" class="img_size">
						<span>{:lang('关于我们')}</span>
					</div>
					<div class="mui-icon mui-icon-forward green_color"></div>
				</a>
				<a href="/index/me/TTP销毁" class="flexbox_nowrap flexbox_nowrap_between border_bot">
					<div class="flexbox_nowrap flexbox_nowrap_start">
						<img src="/static/index/img/关于我们0@2x.png" class="img_size">
						<span>{:lang('TTP销毁')}</span>
					</div>
					<div class="mui-icon mui-icon-forward green_color"></div>
				</a>
				<a href="/index/me/百问百答" class="flexbox_nowrap flexbox_nowrap_between border_bot">
					<div class="flexbox_nowrap flexbox_nowrap_start">
						<img src="/static/index/img/关于我们0@2x.png" class="img_size">
						<span>{:lang('百问百答')}</span>
					</div>
					<div class="mui-icon mui-icon-forward green_color"></div>
				</a>
				<a href="/index/me/客服" class="flexbox_nowrap flexbox_nowrap_between border_bot">
					<div class="flexbox_nowrap flexbox_nowrap_start">
						<img src="/static/index/img/联系客服0@2x.png" class="img_size">
						<span>{:lang('联系客服')}</span>
					</div>
					<div class="mui-icon mui-icon-forward green_color"></div>
				</a>
				<a href="/index/me/设置" class="flexbox_nowrap flexbox_nowrap_between border_bot">
					<div class="flexbox_nowrap flexbox_nowrap_start">
						<img src="/static/index/img/设置0@2x.png" class="img_size">
						<span>{:lang('设置')}</span>
					</div>
					<div class="mui-icon mui-icon-forward green_color"></div>
				</a>
			</div>
		</div>
		<nav class="mui-bar mui-bar-tab nav_bg">
		    <a href="/" target="_blank" class="mui-tab-item">
				<span class="mui-icon iconfont icon_1"></span>
		        <span class="mui-tab-label">{:lang('首页')}</span>
		    </a>
		    <a href="/index/游戏" id="game" target="_blank" class="mui-tab-item">
		        <span class="mui-icon iconfont icon_2"></span>
		        <span class="mui-tab-label">{:lang('游戏')}</span>
		    </a>
			<a href="/index/deal" target="_blank" class="mui-tab-item">
			    <span class="mui-icon iconfont icon_3"></span>
			    <span class="mui-tab-label">{:lang('交易')}</span>
			</a>
			<a href="/index/me" target="_blank" class="mui-tab-item mui-active">
			    <span class="mui-icon iconfont icon_4"></span>
			    <span class="mui-tab-label">{:lang('我的')}</span>
			</a>
		</nav>
		<script src="/static/index/js/jquery.min.js"></script>
		<script src="/static/index/js/public.js"></script>
		<script type="text/javascript">
		</script>
	</body>
</html>
