<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <script src="/static/index/js/mui.min.js"></script>
    <link href="/static/index/css/mui.min.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="/static/index/css/public.css"/>
    <script type="text/javascript" charset="utf-8">
      	mui.init();
    </script>
	<style type="text/css">
		.mui-pull-right{
			margin-top: 10px;
		}
		.public_box textarea{
			background-color: rgba(0,0,0,0);
			height: 60px;
			margin:5px 0;
			border: 1px solid #fff;
		}
	</style>
</head>
<body>
	<header class="mui-bar mui-bar-nav head_color">
		<a href="/index/me" class="mui-icon mui-icon-left-nav mui-pull-left white_color"></a>
		<h1 class="mui-title">{:lang('助记词')}</h1>
		<a href="###" class="mui-pull-right white_color" id="重新生成">{:lang('重新生成')}</a>
	</header>
	<div class="mui-content mui-scroll-wrapper content_bg">
		<div class="mui-scroll">
			<div class="public_box">
				<textarea name="" id="USDT" rows="5" maxlength="75" style="font-size: 15px;" readonly>{$user->助记词}</textarea>
			</div>
		</div>
	</div>
	<script src="/static/index/js/jquery.min.js"></script>
	<script src="/static/index/js/public.js"></script>
	<script type="text/javascript">
		$("#重新生成").click(function(){
			$.ajax({
				url: "/index/me/生成助记词",
				type: "post",
				success: function(data){
					data = JSON.parse(data)
					mui.toast(data.msg)
					if(data.code == 1){
						$("#USDT").text(data.data)
					}
				}
			})
		})
	</script>
</body>
</html>
