<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <script src="/static/index/js/mui.min.js"></script>
    <link href="/static/index/css/mui.min.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="/static/index/css/public.css"/>
	<link rel="stylesheet" type="text/css" href="/static/index/css/checked.css"/>
    <script type="text/javascript" charset="utf-8">
      	mui.init();
    </script>
	<style type="text/css">
		
	</style>
</head>
<body>
	<header class="mui-bar mui-bar-nav head_color">
		<a href="/index/me/设置" class="mui-icon mui-icon-left-nav mui-pull-left white_color"></a>
		<h1 class="mui-title">{:lang('语言切换')}</h1>
	</header>
	<div class="mui-content mui-scroll-wrapper content_bg">
		<div class="mui-scroll">
			<div class="border_bot_green ">
				<div class="line_left">中文</div>
				<label for="aa" class="flexbox_nowrap flexbox_nowrap_between">
					<input id="aa" name="lanuage" value="zh-cn" type="radio" {if condition="$user->language == 'zh-cn'"}checked{/if}>
					<div class="radio_box"></div>
				</label>
			</div>
			<div class="border_bot_green">
				<div class="line_left">English</div>
				<label for="bb" class="flexbox_nowrap flexbox_nowrap_between">
					<input id="bb" name="lanuage" value="en-us" type="radio" {if condition="$user->language == 'en-us'"}checked{/if}>
					<div class="radio_box"></div>
				</label>
			</div>
		</div>
	</div>
	
	<script src="/static/index/js/jquery.min.js"></script>
	<script src="/static/index/js/public.js"></script>
	<script type="text/javascript">
		$('.border_bot_green').click(()=>{
			let aa=$('input[name="lanuage"]:checked').val();
			$.ajax({
				url: "/index/me/语言切换提交",
				type: "post",
				data: {language: aa},
				success: function(data){
					data = JSON.parse(data)
					mui.toast(data.msg)
					if(data.code == 1){
						location.href = "/index/me/语言切换"
					}
				}
			})
		})
	</script>
</body>
</html>
