<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <script src="/static/index/js/mui.min.js"></script>
    <link href="/static/index/css/mui.min.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="/static/index/css/public.css"/>
	<link rel="stylesheet" type="text/css" href="/static/index/css/checked.css"/>
    <script type="text/javascript" charset="utf-8">
      	mui.init();
    </script>
	<style type="text/css">
		.mui-pull-right{
			margin-top: 10px;
		}
		.public_box textarea{
			background-color: rgba(0,0,0,0);
			height: 60px;
			margin:5px 0;
			border: 1px solid #fff;
		}
	</style>
</head>
<body>
	<header class="mui-bar mui-bar-nav head_color">
		<a href="/index/me" class="mui-icon mui-icon-left-nav mui-pull-left white_color"></a>
		<h1 class="mui-title">{:lang('账户管理')}</h1>
		{if condition="$user.pan_user_id == 0"}
		<a href="/index/me/子资产管理" class="mui-pull-right white_color">{:lang('资产管理')}</a>
		{/if}
	</header>
	<div class="mui-content mui-scroll-wrapper content_bg">
		<div class="mui-scroll">
			{volist name="accounts" id="vo"}
			<div class="border_bot_green account_box">
				<div class="line_left">{$vo.nickname}</div>
				<label for="aa" class="flexbox_nowrap flexbox_nowrap_between">
					<input id="aa" name="account" value="{$vo.id}" type="radio" {if condition="$vo.is_login == 1"}checked{/if}>
					<div class="radio_box"></div>
				</label>
			</div>
			{/volist}
			<!-- <div class="border_bot_green account_box">
				<div class="line_left">HAAHHAAH</div>
				<label for="bb" class="flexbox_nowrap flexbox_nowrap_between">
					<input id="bb" name="account" value="2" type="radio">
					<div class="radio_box"></div>
				</label>
			</div> -->
			<div class="border_bot_green flexbox_nowrap flexbox_nowrap_start">
				<img src="/static/index/img/添加账号@2x.png" class="img_size">
				<div>{:lang('添加账号')}</div>
			</div>
		</div>
	</div>
	<div class="mui-backdrop add_show">
		<div class="message_reply">
			<div class="message_reply_title mui-text-center">{:lang('添加子账户')}</div>
			<div class="message_reply_content">
				<div>{:lang('昵称')}</div>
				<input type="text" id="nickname" placeholder="{:lang('请添加子账户昵称')}">
				<div class="flexbox_nowrap flexbox_nowrap_between">
					<a href="javascript:;" class="a_btn close">{:lang('取消')}</a>
					<a href="javascript:;" class="a_btn yes">{:lang('确定')}</a>
				</div>
			</div>
		</div>
	</div>
	<script src="/static/index/js/jquery.min.js"></script>
	<script src="/static/index/js/public.js"></script>
	<script type="text/javascript">
		$('.account_box').click(()=>{
			let id=$('input[name="account"]:checked').val();
			$.ajax({
				url: "/index/me/切换账号",
				type: "post",
				data: {user_id: id},
				success: function(data){
					data = JSON.parse(data)
					mui.toast(data.msg)
					setTimeout(() => {
						location.href = '/index/me/账户管理'
					}, 1000);
				}
			})
		})
		$('.flexbox_nowrap_start').click(function(){
			$('.add_show').show()
		})
		$('.close').click(function(){
			$('.add_show').hide()
		})
		$('.yes').click(function(){
			$('.add_show').hide()
		})

		$(".yes").click(function(){
			var nickname = $("#nickname").val();
			$.ajax({
				url: "/index/me/添加子账号",
				type: "post",
				data: {nickname: nickname},
				success: function(data){
					data = JSON.parse(data)
					mui.toast(data.msg)
					if(data.code == 1){
						setTimeout(() => {
							location.href = '/index/me/账户管理'
						}, 1000);
					}
				}
			})
		})
	</script>
</body>
</html>
