{extend name="base" /}

{block name="content"}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">广告管理</div>
                        <div class="card-sub text-warning">
                            设置广告位和广告，用来在前台页面中展示各种可变内容，如轮播图，客服信息，游戏规则，注册协议等等；
                        </div>
                    </div>
                    <div class="card-body">
                        {if condition="$developer_model== true"}
                        <button class="btn btn-success btn-xs" id="add_adv">添加广告位</button>
                        <button class="btn btn-success btn-xs" id="add_ad">添加广告</button>
                        {/if}
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col" width="5%"></th>
                                    <th scope="col" width="10%">#</th>
                                    {if condition="$developer_model== true"}
                                    <th scope="col" width="5%">#</th>
                                    <th scope="col" width="15%">标签</th>
                                    {/if}
                                    <th scope="col" width="20%">标题</th>
                                    <th scope="col" width="30%">值</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {volist name="adv" id="advvo"}
                                <tr id="tr{$advvo.adv_id}">
                                    <td id="td{$advvo.adv_id}" data-status="1" onclick="show('{$advvo.adv_id}')">
                                        <i class="la la-caret-down"></i>
                                    </td>
                                    <td><b>{$advvo.adv_name}</b></td>
                                    {if condition="$developer_model== true"}
                                    <td></td>
                                    <td><b>{$advvo.sign}</b></td>
                                    {/if}
                                    <td></td>
                                    <td></td>
                                    <td>
                                        {if condition="$developer_model== true"}
                                        <button class="btn btn-warning btn-xs" onclick="adv_update('{$advvo.adv_id}')">修改</button>
                                        <button class="btn btn-danger btn-xs" onclick="adv_item_delete('{$advvo.adv_id}')">删除</button>
                                        {/if}
                                    </td>
                                </tr>
                                    {volist name="ad" id="advo"}
                                    {if condition="$advo.adv_id == $advvo.adv_id"}
                                    <tr id="tr{$advo.ad_id}" class="tr{$advo.adv_id}">
                                        <td></td>
                                        <td></td>
                                        {if condition="$developer_model== true"}
                                        <td>{$advo.ad_id}</td>
                                        <td>{$advo.sign}</td>
                                        {/if}
                                        <td>{$advo.title}</td>
                                        <td>
                                            {if condition="$advo.image != ''"}
                                                <img id="image{$advo.ad_id}" src="{$advo.image}" width="60px" height="60px" onclick="show_image('{$advo.ad_id}')"/>
                                            {/if}
                                            {if condition="$advo.value != ''"}
                                                {$advo.value}
                                            {/if}
                                            {if condition="$advo.content != ''"}
                                            <button class="btn btn-warning btn-xs" onclick="show_content('{$advo.ad_id}')">查看</button>
                                            {/if}
                                        </td>
                                        <td style="display: none;" id="content{$advo.ad_id}">
                                            {$advo.content | raw}
                                        </td>
                                        <td>
                                            <button class="btn btn-warning btn-xs" onclick="ad_update('{$advo.ad_id}')">修改</button>
                                            {if condition="$developer_model== true"}
                                            <button class="btn btn-danger btn-xs" onclick="ad_item_delete('{$advo.ad_id}')">删除</button>
                                            {/if}
                                        </td>
                                    </tr>
                                    {/if}
                                    {/volist}
                                {/volist}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="custom_js"}
<div class="col-md-12" id="div_show_content" style="display: none;">
    <div class="card">
        <div class="card-body" id="show_content">

        </div>
    </div>
</div>

<script>

    function show_content(id){
        $("#show_content").html($("#content" + id).html());
        layer.open({
            type: 1,
            shade: false,
            title: false,
            content: $('#div_show_content'),
            area: ['900px', '700px'],
            cancel: function () {

            }
        });
    }
    //添加分类
    $("#add_adv").click(function(){
        location.href = "/admin/adv/add";
    })

    //添加设置
    $("#add_ad").click(function(){
        location.href = "/admin/ad/add";
    })

    //展示
    function show(id){
        var module = $("#td"+id);
        if(module.data('status') == '0'){
            //没展示
            module.html('<i class="la la-caret-down"></i>');
            module.data('status', '1');
            $(".tr" + id).attr('style', '');
        }else{
            //需要关闭
            module.html('<i class="la la-caret-right"></i>');
            module.data('status', '0');
            $(".tr" + id).attr('style', 'display: none;');
        }
    }

    //修改分类
    function adv_update(adv_id){
        location.href = "/admin/adv/update/" + adv_id;
    }

    //修改设置
    function ad_update(ad_id){
        location.href = "/admin/ad/update/" + ad_id;
    }

    //删除分类
    function adv_item_delete(adv_id){
        layer.confirm('是否要删除此条分类', {
            btn: ['是','否']
        }, function(){
            $.ajax({
                url: "/admin/adv/delete/submit/" + adv_id,
                type: "post",
                success: function(data){
                    data = JSON.parse(data)
                    if(data.code == 3){
                        custom_notify('danger', '广告位信息删除', data.msg);
                    }else{
                        $("#tr" + adv_id).html('');
                        custom_notify('success', '广告位信息删除', data.msg);
                    }
                }
            })
            layer.closeAll();
        });
    }

    //删除设置
    function ad_item_delete(ad_id){
        layer.confirm('是否要删除此条分类', {
            btn: ['是','否']
        }, function(){
            $.ajax({
                url: "/admin/ad/delete/submit/" + ad_id,
                type: "post",
                success: function(data){
                    data = JSON.parse(data)
                    if(data.code == 3){
                        custom_notify('danger', '广告信息删除', data.msg);
                    }else{
                        $("#tr" + ad_id).html('');
                        custom_notify('success', '广告信息删除', data.msg);
                    }
                }
            })
            layer.closeAll();
        });
    }
</script>
{/block}