{extend name="base" /}

{block name="content"}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">目录管理</div>
                        <div class="card-sub text-warning">
                            开发者中心的模块管理专为开发者在调试模式下对后台管理系统的目录进行开发，生产环境下请勿尝试对数据进行增删改查。<br/>
                        </div>
                    </div>
                    <div class="card-body">
                        {if condition="$developer_model== true"}
                        <button class="btn btn-success btn-xs" id="add">添加</button>
                        {/if}
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col" width="5%"></th>
                                    <th scope="col" width="10%">#</th>
                                    <th scope="col" width="7%">id</th>
                                    <th scope="col" width="30%">方法名称</th>
                                    <th scope="col" width="10%">图标</th>
                                    <th scope="col" width="25%">路径</th>
                                    <th scope="col" width="13%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {volist name="list" id="vo"}
                                {if condition="$vo.path != '' && $vo.top_id == 0"}
                                    <tr>
                                        <td></td>
                                        <td>{$vo.sort}</td>
                                        <td>{$vo.catalog_id}</td>
                                        <td>{$vo.title}</td>
                                        <td><i class="{$vo.icon}" style="font-size:18px;"></i></td>
                                        <td>{$vo.path}</td>
                                        <td>
                                            {if condition="$developer_model== true"}
                                            <button class="btn btn-warning btn-xs" onclick="update('{$vo.catalog_id}')">修改</button>
                                            <button class="btn btn-danger btn-xs" onclick="item_delete('{$vo.catalog_id}')">删除</button>
                                            {/if}
                                        </td>
                                    </tr>
                                {elseif condition="$vo.path == '' && $vo.top_id == 0"}
                                    <tr>
                                        <td id="td{$vo.catalog_id}" data-status="0" onclick="show('{$vo.catalog_id}')">
                                                <i class="la la-caret-right"></i>
                                        </td>
                                        <td>{$vo.sort}</td>
                                        <td>{$vo.catalog_id}</td>
                                        <td>{$vo.title}</td>
                                        <td><i class="{$vo.icon}" style="font-size:18px;"></i></td>
                                        <td>{$vo.path}</td>
                                        <td>
                                            {if condition="$developer_model== true"}
                                            <button class="btn btn-warning btn-xs" onclick="update('{$vo.catalog_id}')">修改</button>
                                            <button class="btn btn-danger btn-xs" onclick="item_delete('{$vo.catalog_id}')">删除</button>
                                            {/if}
                                        </td>
                                    </tr>
                                    {volist name="list" id="vol"}
                                    {if condition="$vol.top_id == $vo.catalog_id"}
                                    <tr id="tr{$vol.catalog_id}" class="tr{$vol.top_id}" style="display: none; text-align: center;">
                                        <td></td>
                                        <td>{$vol.sort}</td>
                                        <td>{$vol.catalog_id}</td>
                                        <td>{$vol.title}</td>
                                        <td><i class="{$vol.icon}" style="font-size:18px;"></i></td>
                                        <td>{$vol.path}</td>
                                        <td>
                                            {if condition="$developer_model== true"}
                                            <button class="btn btn-warning btn-xs" onclick="update('{$vol.catalog_id}')">修改</button>
                                            <button class="btn btn-danger btn-xs" onclick="item_delete('{$vol.catalog_id}')">删除</button>
                                            {/if}
                                        </td>
                                    </tr>
                                    {/if}
                                    {/volist}
                                {/if}
                                {/volist}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="custom_js"}
<script>
    //添加
    $("#add").click(function(){
        location.href = "/admin/system/catalog/add";
    })

    //展示
    function show(id){
        var module = $("#td"+id);
        if(module.data('status') == '0'){
            //没展示
            module.html('<i class="la la-caret-down"></i>');
            module.data('status', '1');
            $(".tr" + id).attr('style', 'text-align: center;');
        }else{
            //需要关闭
            module.html('<i class="la la-caret-right"></i>');
            module.data('status', '0');
            $(".tr" + id).attr('style', 'display: none; text-align: center;');
        }
    }

    //修改
    function update(catalog_id){
        location.href = "/admin/system/catalog/update/" + catalog_id;
    }

    //删除
    function item_delete(catalog_id){
        layer.confirm('是否要删除此条数据', {
            btn: ['是','否']
        }, function(){
            $.ajax({
                url: "/admin/system/catalog/delete/submit/" + catalog_id,
                type: "post",
                data: {catalog_id: catalog_id},
                success: function(data){
                    data = JSON.parse(data);
                    if(data.code == 3){
                        custom_notify('danger', '方法删除', data.msg);
                    }else{
                        $("#tr" + catalog_id).html('');
                        custom_notify('success', '方法删除', data.msg);
                    }
                }
            })
            layer.closeAll();
        });
    }
</script>
{/block}