{extend name="base" /}

{block name="content"}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">个人资料</div>
                    </div>
                    <div class="card-body" style="padding: 15px 200px 10px;">
                        <div class="form-group">
                            <label for="via">头像</label>
                            <div style="width: 100%; display: flex; justify-content: space-between;">
                                <input type="file" class="form-control-file" id="via" style="width: 80%; display: none;">
                                {if condition="$detail.via != ''"}
                                <img src="{$detail.via}" style="width: 20%;"/>
                                {/if}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nickname">昵称</label>
                            <input type="text" class="form-control" id="nickname" value="{$detail.nickname}" readonly>
                            <small  class="form-text text-muted text-danger"></small>
                        </div>
                        <div class="form-group">
                            <label for="account">账号</label>
                            <input type="text" class="form-control" id="account" value="{$detail.account}" readonly>
                            <small  class="form-text text-muted text-danger"></small>
                        </div>
                        <div class="form-group">
                            <label for="phone">手机号</label>
                            <input type="text" class="form-control" id="phone" value="{$detail.phone}" readonly>
                            <small  class="form-text text-muted text-danger"></small>
                        </div>
                        <div class="form-group">
                            <label for="email">邮箱</label>
                            <input type="text" class="form-control" id="email" value="{$detail.email}" readonly>
                            <small  class="form-text text-muted text-danger"></small>
                        </div>
                        <div class="form-group">
                            <label for="qq">QQ</label>
                            <input type="text" class="form-control" id="qq" value="{$detail.qq}" readonly>
                            <small  class="form-text text-muted text-danger"></small>
                        </div>
                        <div class="form-group">
                            <label for="wx">微信号</label>
                            <input type="text" class="form-control" id="wx" value="{$detail.wx}" readonly>
                            <small  class="form-text text-muted text-danger"></small>
                        </div>
                        <div class="card-action" style="display: none;" id="submit">
                            <button class="btn btn-success" style="margin-right: 10px;">提交</button>
                        </div>
                        <div class="card-action" style="display: flex; justify-content: center;" id="be_submit">
                            <button class="btn btn-success" style="margin-right: 10px;">我要修改</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}

{block name="custom_js"}
<script>

$("#be_submit").click(function(){
    $("#be_submit").attr('style', 'display: none;');
    $("#submit").attr('style', "display: flex; justify-content: center;");
    $("#via").attr('style', "width: 80%;");
    $("#nickname").removeAttr('readonly');
    $("#phone").removeAttr('readonly');
    $("#email").removeAttr('readonly');
    $("#qq").removeAttr('readonly');
    $("#wx").removeAttr('readonly');
})

//提交
$("#submit").click(function(){
    fd = new FormData();
    fd.append("via", $('#via')[0].files[0]);
    fd.append("nickname", $("#nickname").val());
    fd.append("phone", $("#phone").val());
    fd.append("email", $("#email").val());
    fd.append("qq", $("#qq").val());
    fd.append("wx", $("#wx").val());
    $.ajax({
        url: "/admin/me/detail/submit",
        type: "post",
        processData: false,
        contentType: false,
        data: fd,
        success: function(data){
            data = JSON.parse(data);
            if(data.code == 3){
                custom_notify('danger', '个人资料修改', data.msg);
            }else if(data.code == 2){
                custom_notify('warning', '个人资料修改', data.msg);
            }else{
                custom_notify('success', '个人资料修改', data.msg);
                setTimeout(() => {
                    location.href = "/admin/me/detail";
                }, 1500);
            }
        }
    })
})
</script>


{/block}