{extend name="base" /}

{block name="custom_css"}
<link rel="stylesheet" href="/static/markdown/markdown.css">
<script type="text/javascript" src="/static/markdown/marked.min.js"></script>
{/block}

{block name="content"}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">文章管理</div>
                        <div class="card-sub text-warning">

                        </div>
                    </div>
                    <div class="card-body">
                        <form class="form-inline" action="" method="post">
                            <button type="button" class="btn btn-success btn-xs" id="add" style="float: left;">添加</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="form-group">
                                <input type="text" class="form-control" name="title" id="title" value="{$title}" placeholder="搜索标题" style="width: 150px;">
                            </div>
                            <div class="form-group">
                                <select class="form-control form-control" name="category_id" id="category_id">
                                    <option value="">搜索文章分类</option>
                                    {volist name="category" id="c"}
                                    <option value="{$c.category_id}" {if condition="$category_id == $c.category_id"}selected{/if}>{$c.category_name}</option>
                                    {/volist}
                                </select>
                            </div>
                            {if condition="$cms_article['tag_ids'] == true"}
                            <div class="form-group">
                                <select class="form-control form-control" name="tag_id" id="tag_id">
                                    <option value="">搜索标签</option>
                                    {volist name="tag" id="t"}
                                    <option value="{$t.tag_id}" {if condition="$tag_id == $t.tag_id"}selected{/if}>{$t.tag_name}</option>
                                    {/volist}
                                </select>
                            </div>
                            {/if}
                            {if condition="$cms_article['author'] == true"}
                            <div class="form-group">
                                <input type="text" class="form-control" name="author" id="author" value="{$author}" placeholder="搜索作者" style="width: 150px;">
                            </div>
                            {/if}
                            {if condition="$cms_article['stick'] == true"}
                            <div class="form-group">
                                <label class="form-radio-label">
                                    <input class="form-radio-input" name="trait" type="radio" name="optionsRadios" value="stick" {if condition="$trait == 'stick'"}checked{/if}>
                                    <span class="form-radio-sign">置顶</span>
                                </label>
                            </div>
                            {/if}
                            {if condition="$cms_article['hot'] == true"}
                            <div class="form-group">
                                <label class="form-radio-label">
                                    <input class="form-radio-input" name="trait" type="radio" name="optionsRadios" value="hot" {if condition="$trait == 'hot'"}checked{/if}>
                                    <span class="form-radio-sign">热门</span>
                                </label>
                            </div>
                            {/if}
                            {if condition="$cms_article['recomment'] == true"}
                            <div class="form-group">
                                <label class="form-radio-label">
                                    <input class="form-radio-input" name="trait" type="radio" name="optionsRadios" value="recomment" {if condition="$trait == 'recomment'"}checked{/if}>
                                    <span class="form-radio-sign">推荐</span>
                                </label>
                            </div>
                            {/if}
                            <button type="submit" class="btn btn-default" id="search_submit">搜索</button>&nbsp&nbsp
                            <button type="button" class="btn btn-default" id="from_close">清空</button>
                        </form>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col" width="4%">#</th>
                                    {if condition="$cms_article['stick'] == true"}
                                    <th scope="col" width="5%">置顶</th>
                                    {/if}
                                    {if condition="$cms_article['hot'] == true"}
                                    <th scope="col" width="5%">热门</th>
                                    {/if}
                                    {if condition="$cms_article['recomment'] == true"}
                                    <th scope="col" width="5%">推荐</th>
                                    {/if}
                                    {if condition="$cms_article['image'] == true"}
                                    <th scope="col" width="10%">图片</th>
                                    {/if}
                                    <th scope="col" width="20%">标题</th>
                                    <th scope="col" width="6%">分类</th>
                                    {if condition="$cms_article['tag_ids'] == true"}
                                    <th scope="col" width="10%">标签</th>
                                    {/if}
                                    {if condition="$cms_article['author'] == true"}
                                    <th scope="col" width="6%">作者</th>
                                    {/if}
                                    <th scope="col" width="5%">点击率</th>
                                    <th scope="col" width="5%">点赞数</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {volist name="list" id="vo"}
                                <tr id="tr{$vo.article_id}">
                                    <td>{$vo.article_id}</td>
                                    {if condition="$cms_article['stick'] == true"}
                                    <td>
                                        <div onclick="status('stick', '{$vo.article_id}')">
                                            <input type="checkbox" {if condition="$vo.artdata.is_stick == 1"}checked{/if} data-toggle="toggle" data-onstyle="danger">
                                        </div>
                                    </td>
                                    {/if}
                                    {if condition="$cms_article['hot'] == true"}
                                    <td>
                                        <div onclick="status('hot', '{$vo.article_id}')">
                                            <input type="checkbox" {if condition="$vo.artdata.is_hot == 1"}checked{/if} data-toggle="toggle" data-onstyle="danger">
                                        </div>
                                    </td>
                                    {/if}
                                    {if condition="$cms_article['recomment'] == true"}
                                    <td>
                                        <div id="divrecomment{$vo.article_id}" onclick="status('recomment', '{$vo.article_id}')">
                                            <input id="recomment{$vo.article_id}" type="checkbox" {if condition="$vo.artdata.is_recomment == 1"}checked{/if} data-toggle="toggle" data-onstyle="danger">
                                        </div>
                                    </td>
                                    {/if}
                                    {if condition="$cms_article['image'] == true"}
                                    <td>
                                        <img id="image{$vo.article_id}" src="{$vo.image}" width="60px" height="60px" onclick="show_image('{$vo.article_id}')"/>
                                    </td>
                                    {/if}
                                    <td>{$vo.title}</td>
                                    <td>{$vo.category.category_name}</td>
                                    {if condition="$cms_article['tag_ids'] == true"}
                                    <td>{$vo.tag_ids}</td>
                                    {/if}
                                    {if condition="$cms_article['author'] == true"}
                                    <td>{$vo.author}</td>
                                    {/if}
                                    <td>{$vo.artdata.looknum}</td>
                                    <td>{$vo.artdata.likenum}</td>
                                    <td>
                                        <button class="btn btn-warning btn-xs" onclick="look('{$vo.article_id}')">查看</button>
                                        <button class="btn btn-warning btn-xs" onclick="update('{$vo.article_id}')">修改</button>
                                        <button class="btn btn-danger btn-xs" onclick="item_delete('{$vo.article_id}')">删除</button>
                                    </td>
                                </tr>
                                {/volist}
                            </tbody>
                        </table>
                        {$list->render() | raw}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="custom_js"}
<div class="content" id="c">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="form-control markdown-body" name="content" id="content_show"></div>
                </div>
            </div>
        </div>
    </div>
<script>
    //添加
    $("#add").click(function(){
        location.href = "/admin/cms/article/add";
    })

    function look(article_id){
        $.ajax({
            url: "/admin/cms/article/content/" + article_id,
            type: "get",
            success: function(data){
                data = JSON.parse(data);
                if(data.data['content_type'] == 'html'){
                    $("#content_show").html(data.data['content']);
                }else{
                    $("#content_show").html(marked(data.data['content']));
                }
                layer.open({
                    type: 1,
                    area: '600px',
                    shade: false,
                    title: false,
                    content: $('#c')
                });
            }
        })
    }

    //修改
    function update(article_id){
        location.href = "/admin/cms/article/update/" + article_id;
    }
    //删除
    function item_delete(article_id){
        layer.confirm('是否要删除此条数据', {
            btn: ['是','否']
        }, function(){
            $.ajax({
                url: "/admin/cms/article/delete/submit/" + article_id,
                type: "post",
                success: function(data){
                    data = JSON.parse(data);
                    if(data.code == 3){
                        custom_notify('danger', '文章删除', data.msg);
                    }else{
                        $("#tr" + article_id).html('');
                        custom_notify('success', '文章删除', data.msg);
                    }
                }
            })
            layer.closeAll();
        });
    }

    $("#from_close").click(function(){
        $("#title").val('');
        $("#category_id").val('');
        $("#tag_id").val('');
        $("#author").val('');
        $('input[name="trait"]:checked').attr('checked', false)
        $("#search_submit").click();
    })

    function status(status_type, article_id){
        $.ajax({
            url: "/admin/cms/article/status/" + article_id,
            type: "post",
            data: {status_type: status_type},
            success: function(data){
                data = JSON.parse(data);
                if(data.code == 3 || data.code == 2){
                    custom_notify('danger', '文章属性修改', data.msg);
                    $("#divrecomment" + article_id).attr('onclick', '');
                    var parent_class = $("#" + status_type + article_id).parent().attr('class');
                    $("#" + status_type + article_id).parent().click();
                    setTimeout(() => {
                        $("#divrecomment" + article_id).attr('onclick', "status('"+ status_type +"', " + article_id +")");
                    }, 300);
                }
            },
            error: function(){
                custom_notify('danger', '文章属性修改', data.msg);
                $("#divrecomment" + article_id).attr('onclick', '');
                var parent_class = $("#" + status_type + article_id).parent().attr('class');
                $("#" + status_type + article_id).parent().click();
                setTimeout(() => {
                    $("#divrecomment" + article_id).attr('onclick', "status('"+ status_type +"', " + article_id +")");
                }, 300);
            }
        })
    }
</script>
{/block}