{extend name="base" /}

{block name="custom_css"}
<link rel="stylesheet" href="/static/markdown/markdown.css">
<script type="text/javascript" src="/static/markdown/marked.min.js"></script>
{/block}

{block name="content"}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">文章信息修改</div>
                    </div>
                    <div class="card-body" style="padding: 15px 200px 10px;">
                        <div class="form-group">
                            <label for="title">文章标题*</label>
                            <input type="text" class="form-control" id="title" value="{$detail.title}">
                            <small id="emailHelp" class="form-text text-muted text-danger">不能超过30个字符</small>
                        </div>
                        <div class="form-group">
                            <label for="category_id">所属文章分类*</label>
                            <select class="form-control form-control-sm" id="category_id">
                                <option value="0">请选择所属文章分类</option>
                                {volist name="category" id="c"}
                                <option value="{$c.category_id}" {if condition="$detail.category_id == $c.category_id"}selected{/if}>{$c.category_name}</option>
                                {/volist}
                            </select>
                        </div>
                        {if condition="$cms_article['tag_ids'] == true"}
                        <div class="form-group">
                        {else /}
                        <div class="form-group" style="display: none;">
                        {/if}
                            <label>文章标签*</label>
                            <p class="demo">
                                {volist name="tag" id="t"}
                                <label class="form-check-label">
                                    <input class="form-check-input" name="tag_ids" type="checkbox" value="{$t.tag_id}" {if condition="$t.has_tag == 1"}checked{/if}>
                                    <span class="form-check-sign">{$t.tag_name}</span>
                                </label>
                                {/volist}
                            </p>
                        </div>
                        {if condition="$cms_article['image'] == true"}
                        <div class="form-group">
                        {else /}
                        <div class="form-group" style="display: none;">
                        {/if}
                            <label for="image">图片*</label>
                            <input type="file" class="form-control-file" id="image"><br/>
                            {if condition="$detail.image != ''"}
                                <img id="image{$detail.article_id}" src="{$detail.image}" width="80px" height="80px" onclick="show_image('{$detail.article_id}')"/>
                            {/if}
                        </div>
                        {if condition="$cms_article['author'] == true"}
                        <div class="form-group">
                        {else /}
                        <div class="form-group" style="display: none;">
                        {/if}
                            <label for="author">作者</label>
                            <input type="text" class="form-control" id="author" value="{$detail.author}">
                            <small id="emailHelp" class="form-text text-muted text-danger">不填写则为当前管理员昵称</small>
                        </div>
                        {if condition="$cms_article['keyword'] == true"}
                        <div class="form-group">
                        {else /}
                        <div class="form-group" style="display: none;">
                        {/if}
                            <label for="keyword">关键字*</label>
                            <input type="text" class="form-control" id="keyword" value="{$detail.keyword}">
                        </div>
                        {if condition="$cms_article['intro'] == true"}
                        <div class="form-group">
                        {else /}
                        <div class="form-group" style="display: none;">
                        {/if}
                            <label for="intro">简介</label>
                            <textarea class="form-control" style="margin-top: 0px; margin-bottom: 0px;" name="intro" id="intro">{$detail.intro}</textarea>
                        </div>
                        {if condition="$cms_article['content_type'] == true"}
                        <div class="form-group">
                        {else /}
                        <div class="form-group" style="display: none;">
                        {/if}
                            <label for="content_type">内容类型*</label>
                            <select class="form-control form-control-sm" id="content_type">
                                <option value="html" {if condition="$detail.content_type == 'html'"}selected{/if}>html</option>
                                <option value="markdown" {if condition="$detail.content_type == 'markdown'"}selected{/if}>markdown</option>
                            </select>
                        </div>
                        <div class="form-group" id="html" {if condition="$detail.content_type == 'markdown'"}style="display: None;"{/if}>
                            <label for="content">内容*</label>
                            <textarea class="form-control" style="margin-top: 0px; margin-bottom: 0px;" name="content" id="content_html">{if condition="$detail.content_type == 'html'"}{$detail.content}{/if}</textarea>
                        </div>
                        <div class="form-group" id="markdown" {if condition="$detail.content_type == 'html'"}style="display: None;justify-content: space-between;"{else /}style="display: flex;justify-content: space-between;"{/if}>
                            <div style="width: 48%; float:left;">
                                <label for="content">编写</label>
                                <textarea class="form-control" rows="20" style="margin-top: 0px; margin-bottom: 0px;" name="content" id="content_write">{if condition="$detail.content_type == 'markdown'"}{$detail.content}{/if}</textarea>
                            </div>
                            <div style="width: 48%; float:right;">
                                <label for="content">展示</label>
                                <div class="form-control markdown-body" style="margin-top: 0px; margin-bottom: 0px; height: 490px; overflow: auto;" name="content" id="content_show">

                                </div>
                            </div>
                        </div>
                        <input type="hidden" value="{$detail.article_id}" id="article_id"/>
                        <div class="card-action" style="display: flex; justify-content: center;">
                            <button class="btn btn-success" style="margin-right: 10px;" id="submit">提交</button>
                            <button class="btn btn-danger" id="cancel">返回</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}

{block name="custom_js"}
<script src="/static/ckeditor/ckeditor.js"></script>
<script>
ClassicEditor
    .create(document.querySelector('#content_html'), {
        ckfinder: {
            uploadUrl: "/admin/cms/img"
        }
    })
    .then(editor => {
        window.editor = editor;
    })
    .catch(error => {

    });

$("#content_type").change(function(){
    var content_type = $("#content_type").val();
    if(content_type == 'markdown'){
        $("#markdown").attr('style', 'display: flex;justify-content: space-between;');
        $("#html").attr('style', 'display: None;');
    }
    if(content_type == 'html'){
        $("#markdown").attr('style', 'display: None;justify-content: space-between;');
        $("#html").attr('style', '');
    }
})
$("#content_show").html(marked($("#content_write").val()));
$('#content_write').bind('input propertychange', function() {
    $("#content_show").html(marked($("#content_write").val()));
});

//取消
$("#cancel").click(function(){
    location.href = "/admin/cms/article";
})

//提交
$("#submit").click(function(){
    var article_id = $("#article_id").val();
    var fd = new FormData();
    fd.append('title', $("#title").val());
    fd.append('category_id', $("#category_id").val());
    var tag_ids = ',';
    $('input[name="tag_ids"]:checked').each(function(){
        tag_ids += $(this).val()+',';
    });
    fd.append('tag_ids', tag_ids);
    fd.append('author', $("#author").val());
    fd.append('keyword', $("#keyword").val());
    fd.append('intro', $("#intro").val());
    var content_type = $("#content_type").val();
    fd.append('content_type', content_type);
    fd.append("image", $('#image')[0].files[0]);
    if(content_type == 'html'){
        fd.append('content', editor.getData());
    }else{
        fd.append('content', $("#content_write").val());
    }
    $.ajax({
        url: "/admin/cms/article/update/submit/" + article_id,
        type: "post",
        processData: false,
        contentType: false,
        data: fd,
        success: function(data){
            data = JSON.parse(data);
            if(data.code == 3){
                custom_notify('danger', '文章信息修改', data.msg);
            }else if(data.code == 2){
                custom_notify('warning', '文章信息修改', data.msg);
            }else if(data.code == 1){
                location.href = "/admin/cms/article/update/"+article_id;
                custom_notify('success', '文章信息修改', data.msg);
            }
        }
    })
})
</script>


{/block}