{extend name="base" /}

{block name="content"}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">分类信息修改</div>
                    </div>
                    <div class="card-body" style="padding: 15px 200px 10px;">
                        <div class="form-group">
                            <label for="category_name">分类名称*</label>
                            <input type="text" class="form-control" id="category_name" value="{$detail.category_name}">
                            <small id="emailHelp" class="form-text text-muted text-danger">不能超过30个字符</small>
                        </div>
                        <div class="form-group" {if condition="$cms_category_image_onoff == false"}style="display:none;"{/if}>
                            <label for="category_image">图片</label>
                            <input type="file" class="form-control-file" id="category_image">
                            {if condition="$detail.category_image != ''"}
                            <img id="image{$detail.category_id}" src="{$detail.category_image}" width="80px" height="80px" onclick="show_image('{$detail.category_id}')"/>
                            {/if}
                        </div>
                        <div class="form-group">
                            <label for="sort">排序*</label>
                            <input type="number" class="form-control" id="sort" value="{$detail.sort}">
                        </div>
                        <input type="hidden" name="category_id" id="category_id" value="{$detail.category_id}"/>
                        <div class="card-action" style="display: flex; justify-content: center;">
                            <button class="btn btn-success" style="margin-right: 10px;" id="submit">提交</button>
                            <button class="btn btn-danger" id="cancel">返回</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}

{block name="custom_js"}
<script>
//非法操作
var has_data = "{$has_data}";
if(has_data == "false"){
    custom_notify('danger', '分类信息修改', '非法操作');
    setTimeout(() => {
        location.href = "/admin/cms/category";
    }, 1000);
}

//取消
$("#cancel").click(function(){
    location.href = "/admin/cms/category";
})

//提交
$("#submit").click(function(){
    var category_id = $("#category_id").val();
    var fd = new FormData();
    fd.append('category_name', $("#category_name").val());
    fd.append('sort', $("#sort").val());
    fd.append("category_image", $('#category_image')[0].files[0]);
    $.ajax({
        url: "/admin/cms/category/update/submit/" + category_id,
        type: "post",
        processData: false,
        contentType: false,
        data: fd,
        success: function(data){
            data = JSON.parse(data);
            if(data.code == 3){
                custom_notify('danger', '分类信息修改', data.msg);
            }else if(data.code == 2){
                custom_notify('warning', '分类信息修改', data.msg);
            }else{
                $("#category_image").val('');
                $("#image"+data.data['category_id']).attr('src', data.data['category_image']);
                custom_notify('success', '分类信息修改', data.msg);
            }
        }
    })
})
</script>


{/block}