{extend name="base" /}

{block name="content"}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">文章标签管理</div>
                        <div class="card-sub text-warning">
                                文章标签管理，可对文章标签信息进行添加，修改，删除操作。如果开启了图片添加，则必须添加图片；
                        </div>
                    </div>
                    <div class="card-body">
                        <button class="btn btn-success btn-xs" id="add">添加</button>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col" width="15%">#</th>
                                    <th scope="col" width="15%">id</th>
                                    <th scope="col" width="15%">名称</th>
                                    {if condition="$cms_tag_image_onoff == true"}
                                    <th scope="col" width="15%">图片</th>
                                    {/if}
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {volist name="list" id="vo"}
                                <tr id="tr{$vo.tag_id}">
                                    <td>{$vo.sort}</td>
                                    <td>{$vo.tag_id}</td>
                                    <td>{$vo.tag_name}</td>
                                    {if condition="$cms_tag_image_onoff == true"}
                                    <td><img id="image{$vo.tag_id}" src="{$vo.tag_image}" width="60px" height="60px" onclick="show_image('{$vo.tag_id}')"/></td>
                                    {/if}
                                    <td>
                                        <button class="btn btn-warning btn-xs" onclick="update('{$vo.tag_id}')">修改</button>
                                        <button class="btn btn-danger btn-xs" onclick="item_delete('{$vo.tag_id}')">删除</button>
                                    </td>
                                </tr>
                                {/volist}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="custom_js"}

<script>
    //添加
    $("#add").click(function(){
        location.href = "/admin/cms/tag/add";
    })

    //修改
    function update(tag_id){
        location.href = "/admin/cms/tag/update/" + tag_id;
    }
    //删除
    function item_delete(tag_id){
        layer.confirm('是否要删除此条数据', {
            btn: ['是','否']
        }, function(){
            $.ajax({
                url: "/admin/cms/tag/delete/submit/" + tag_id,
                type: "get",
                success: function(data){
                    data = JSON.parse(data);
                    if(data.code == 3){
                        custom_notify('danger', '文章标签删除', data.msg);
                    }else{
                        $("#tr" + tag_id).html('');
                        custom_notify('success', '文章标签删除', data.msg);
                    }
                }
            })
            layer.closeAll();
        });
    }
</script>
{/block}