{extend name="base" /}

{block name="content"}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">管理员添加</div>
                    </div>
                    <div class="card-body" style="padding: 15px 200px 10px;">
                        <div class="form-group">
                            <label for="account">账号*</label>
                            <input type="text" class="form-control" id="account" placeholder="请输入账号">
                            <small id="emailHelp" class="form-text text-muted text-danger">不能超过20个字符</small>
                        </div>
                        <div class="form-group">
                            <label for="nickname">昵称*</label>
                            <input type="text" class="form-control" id="nickname" placeholder="请输入昵称">
                            <small id="emailHelp" class="form-text text-muted text-danger">不能超过20个字符</small>
                        </div>
                        <div class="form-group">
                            <label for="password">密码*</label>
                            <input type="password" class="form-control" id="password" placeholder="请输入密码">
                            <small id="emailHelp" class="form-text text-muted text-danger">不能超过30个字符</small>
                        </div>
                        <div class="form-group">
                            <label for="password_confirm">确认密码*</label>
                            <input type="password" class="form-control" id="password_confirm" placeholder="请输入确认密码">
                            <small id="emailHelp" class="form-text text-muted text-danger">不能超过30个字符</small>
                        </div>
                        <div class="card-action" style="display: flex; justify-content: center;">
                            <button class="btn btn-success" style="margin-right: 10px;" id="submit">提交</button>
                            <button class="btn btn-danger" id="cancel">返回</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}

{block name="custom_js"}
<script>
//取消
$("#cancel").click(function(){
    location.href = "/admin/admin";
})

//提交
$("#submit").click(function(){
    var account = $("#account").val();
    var nickname = $("#nickname").val();
    var password = $("#password").val();
    var password_confirm = $("#password_confirm").val();
    if(account == ''){
        custom_notify('warning', '管理员添加', '请输入管理员账号');
        return;
    }
    if(nickname == ''){
        custom_notify('warning', '管理员添加', '请输入管理员昵称');
        return;
    }
    if(password == ''){
        custom_notify('warning', '管理员添加', '请输入管理员密码');
        return;
    }
    if(password_confirm == ''){
        custom_notify('warning', '管理员添加', '请输入管理员确认密码');
        return;
    }
    $.ajax({
        url: "/admin/admin/add/submit",
        type: "post",
        data: {account: account, nickname: nickname, password: password, password_confirm: password_confirm},
        success: function(data){
            data = JSON.parse(data);
            if(data.code == 3){
                custom_notify('danger', '管理员添加', data.msg);
            }else if(data.code == 2){
                custom_notify('warning', '管理员添加', data.msg);
            }else{
                $("#account").val('');
                $("#nickname").val('');
                $("#password").val('');
                $("#password_confirm").val('');
                custom_notify('success', '管理员添加', data.msg);
            }
        }
    })
})
</script>


{/block}