{extend name="base" /}

{block name="content"}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">管理员列表</div>
                        <div class="card-sub text-warning">
                            后台系统管理员管理列表，可对管理员信息进行添加，修改，删除，设置角色；
                        </div>
                    </div>
                    <div class="card-body">
                        <button class="btn btn-success btn-xs" id="add">添加</button>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col" width="15%">#</th>
                                    <th scope="col" width="15%">管理员昵称</th>
                                    <th scope="col" width="15%">管理员账号</th>
                                    <th scope="col" width="15%">管理员角色</th>
                                    <th scope="col" width="40%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {volist name="list" id="vo"}
                                <tr id="tr{$vo.admin_id}">
                                    <td>{$vo.admin_id}</td>
                                    <td>{$vo.nickname}</td>
                                    <td>{$vo.account}</td>
                                    <td id="role{$vo.admin_id}">{$vo.role.role_name}</td>
                                    <td>
                                        <button class="btn btn-warning btn-xs" onclick="update('{$vo.admin_id}')">修改</button>
                                        {if condition="$vo.account != 'root'"}
                                        <button class="btn btn-warning btn-xs" onclick="allot('{$vo.admin_id}', '{$vo.role_id}')">分配</button>
                                        <button class="btn btn-danger btn-xs" onclick="item_delete('{$vo.admin_id}')">删除</button>
                                        {/if}
                                    </td>
                                </tr>
                                {/volist}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="custom_js"}
<div id="admin_role" class="card-body" style="display: None;">
    <div class="form-group">
        <label for="role_id">选择角色*</label>
        <select class="form-control form-control-sm" id="role_id">
            <option value="0">请选择角色</option>
            {volist name="role" id="ro"}
            <option value="{$ro.role_id}">{$ro.role_name}</option>
            {/volist}
        </select>
    </div>
    <input type="hidden" value="" id="admin_id"/>
    <div class="card-action" style="display: flex; justify-content: center;">
        <button class="btn btn-success" style="margin-right: 10px;" id="role_submit">提交</button>
        <button class="btn btn-danger" id="role_cancel">取消</button>
    </div>
</div>

<script>
    //添加
    $("#add").click(function(){
        location.href = "/admin/admin/add";
    })

    //修改
    function update(admin_id){
        location.href = "/admin/admin/update/" + admin_id;
    }
    //删除
    function item_delete(admin_id){
        layer.confirm('是否要删除此条数据', {
            btn: ['是','否']
        }, function(){
            $.ajax({
                url: "/admin/admin/delete/submit/" + admin_id,
                type: "get",
                success: function(data){
                    data = JSON.parse(data);
                    if(data.code == 3){
                        custom_notify('danger', '管理员删除', data.msg);
                    }else{
                        $("#tr" + admin_id).html('');
                        custom_notify('success', '管理员删除', data.msg);
                    }
                }
            })
            layer.closeAll();
        });
    }

    //分配
    function allot(admin_id, role_id){
        $("#admin_id").val(admin_id);
        $("#role_id").find("option[value='" + role_id + "']").attr("selected",true);
        layer.open({
            type: 1,
            shade: false,
            title: false,
            content: $('#admin_role'),
            area: ['300px', '200px'],
            cancel: function () {

            }
        });
    }

    //分配角色，确定
    $("#role_submit").click(function(){
        var role_id = $("#role_id").val();
        var admin_id = $("#admin_id").val();
        $.ajax({
            url: "/admin/admin/allot",
            type: "post",
            data: {role_id: role_id, admin_id: admin_id},
            success: function(data){
                data = JSON.parse(data);
                layer.closeAll();
                if(data.code == 3){
                    custom_notify('danger', '分配权限', data.msg);
                }else if(data.code == 2){
                    custom_notify('warning', '分配权限', data.msg);
                }else{
                    $("#role" + data.data['admin_id']).html(data.data['role_name']);
                    custom_notify('success', '分配权限', data.msg);
                }
            }
        })
    })

    //分配角色取消
    $("#role_cancel").click(function(){
        layer.closeAll();
    })
</script>
{/block}