{extend name="base" /}

{block name="content"}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">角色管理</div>
                        <div class="card-sub text-warning">
                            后台系统的角色管理列表，可添加，修改，删除角色，可对角色进行权限设置；
                        </div>
                    </div>
                    <div class="card-body">
                        <button class="btn btn-success btn-xs" id="add">添加</button>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col" width="7%">#</th>
                                    <th scope="col" width="30%">角色名称</th>
                                    <th scope="col" width="25%">备注</th>
                                    <th scope="col" width="30%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {volist name="list" id="vo"}
                                <tr id="tr{$vo.role_id}">
                                    <td>{$vo.role_id}</td>
                                    <td>{$vo.role_name}</td>
                                    <td>{$vo.remark}</td>
                                    <td>
                                        <button class="btn btn-warning btn-xs" onclick="update('{$vo.role_id}')">修改</button>
                                        <button class="btn btn-warning btn-xs" onclick="power('{$vo.role_id}')">权限</button>
                                        {if condition="$vo.role_id != 1"}
                                        <button class="btn btn-danger btn-xs" onclick="item_delete('{$vo.role_id}')">删除</button>
                                        {/if}
                                    </td>
                                </tr>
                                {/volist}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="custom_js"}
<script>
    //添加
    $("#add").click(function(){
        location.href = "/admin/role/add";
    })

    //修改
    function update(role_id){
        location.href = "/admin/role/update/" + role_id;
    }

    function power(role_id){
        location.href = "/admin/role/power/" + role_id;
    }

    //删除
    function item_delete(role_id){
        layer.confirm('是否要删除此条数据', {
            btn: ['是','否']
        }, function(){
            $.ajax({
                url: "/admin/role/delete/submit/" + role_id,
                type: "get",
                success: function(data){
                    data = JSON.parse(data);
                    if(data.code == 3){
                        custom_notify('danger', '模块删除', data.msg);
                    }else{
                        $("#tr" + role_id).html('');
                        custom_notify('success', '模块删除', data.msg);
                    }
                }
            })
            layer.closeAll();
        });
    }
</script>
{/block}