{extend name="base" /}

{block name="content"}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">角色信息添加</div>
                    </div>
                    <div class="card-body" style="padding: 15px 200px 10px;">
                        <div class="form-group">
                            <label for="role_name">角色名称*</label>
                            <input type="text" class="form-control" id="role_name" placeholder="请输入角色名称">
                            <small id="emailHelp" class="form-text text-muted text-danger">不能超过30个字符</small>
                        </div>
                        <div class="form-group">
                            <label for="remark">备注</label>
                            <input type="remark" class="form-control" id="remark" placeholder="请输入备注">
                            <small id="emailHelp" class="form-text text-muted text-danger">选填，不能超过30个字符</small>
                        </div>
                        <div class="form-group">
                            <label for="sort">排序*</label>
                            <input type="number" class="form-control" id="sort" value="{$max_sort + 1}">
                        </div>
                        <div class="card-action" style="display: flex; justify-content: center;">
                            <button class="btn btn-success" style="margin-right: 10px;" id="submit">提交</button>
                            <button class="btn btn-danger" id="cancel">返回</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}

{block name="custom_js"}
<script>
//取消
$("#cancel").click(function(){
    location.href = "/admin/role";
})

//提交
$("#submit").click(function(){
    var role_name = $("#role_name").val();
    var remark = $("#remark").val();
    var sort = $("#sort").val();
    if(role_name == ''){
        custom_notify('warning', '角色添加', '请输入角色名称');
        return;
    }
    $.ajax({
        url: "/admin/role/add/submit",
        type: "post",
        data: {role_name: role_name, remark: remark, sort: sort},
        success: function(data){
            data = JSON.parse(data);
            if(data.code == 3){
                custom_notify('danger', '角色添加', data.msg);
            }else if(data.code == 2){
                custom_notify('warning', '角色添加', data.msg);
            }else{
                $("#role_name").val('');
                $("#remark").val('');
                $("#sort").val(parseInt(data.data) + 1);
                custom_notify('success', '角色添加', data.msg);
            }
        }
    })
})
</script>


{/block}