{extend name="base" /}

{block name="custom_css"}
<link rel="stylesheet" href="/static/dcalendar.picker/dcalendar.picker.css">
{/block}

{block name="content"}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">管理员操作日志</div>
                        <div class="card-sub text-warning">
                            管理员在后台管理系统中的操作记录，可通过管理员的账号，管理员的昵称，操作时的ip，操作时间段进行检索查询。
                        </div>
                    </div>
                    <div class="card-body">
                        <form class="form-inline" role="form" action="" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" name="account" id="account" value="{$account}" placeholder="管理员账号">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="nickname" id="nickname" value="{$nickname}" placeholder="管理员昵称">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="ip" id="ip" value="{$ip}" placeholder="ip">
                            </div>
                            <div class="form-group">
                                <input id='mydatepicker1' type="text" class="form-control" name="start_time" placeholder="起始时间" value="">
                            </div>
                            <div class="form-group">
                                <input id='mydatepicker2' type="text" class="form-control" name="end_time" placeholder="结束时间" value="">
                            </div>
                            <button type="submit" class="btn btn-default" id="search_submit">搜索</button>&nbsp&nbsp
                            <button type="button" class="btn btn-default" id="from_close">清空</button>
                        </form>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col" width="8%">#</th>
                                    <th scope="col" width="15%">管理员</th>
                                    <th scope="col" width="15%">ip</th>
                                    <th scope="col">操作</th>
                                    <th scope="col" width="15%">操作时间</th>
                                </tr>
                            </thead>
                            <tbody>
                                {volist name="list" id="vo"}
                                <tr>
                                    <td>{$vo.id}</td>
                                    <td>{$vo.admin.nickname}（{$vo.admin.account}）</td>
                                    <td>{$vo.ip}</td>
                                    <td>{$vo.content}</td>
                                    <td>{$vo.insert_time}</td>
                                </tr>
                                {/volist}
                            </tbody>
                        </table>
                        {$list->render() | raw}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="custom_js"}
<script type="text/javascript" src="/static/dcalendar.picker/dcalendar.picker.js"></script>
<script type="text/javascript">
    $('#mydatepicker1').dcalendarpicker({
        format:'yyyy-mm-dd'
    });
    $('#mydatepicker2').dcalendarpicker({
        format:'yyyy-mm-dd'
    });

    setTimeout(function(){
        var start_time = "{$start_time}";
        var end_time = "{$end_time}";
        if(start_time != ''){
            $("#mydatepicker1").val(start_time);
        }
        if(end_time != ''){
            $("#mydatepicker2").val(end_time);
        }
    }, 200);

    $("#from_close").click(function(){
        $("#account").val('');
        $("#nickname").val('');
        $("#ip").val('');
        $("#mydatepicker1").val('');
        $("#mydatepicker2").val('');
        $("#search_submit").click();
    })
</script>
</script>
{/block}