{extend name="base" /}


{block name="custom_css"}
<link rel="stylesheet" href="/static/dcalendar.picker/dcalendar.picker.css">
{/block}

{block name="content"}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">TT价格设置</div>
                        <div class="card-sub text-warning">
                            请提前设置TT价格, 若当日未设置TT价格, 那么当日TT价格将与前一日价格相同.<br/>
                            TT价值为:  1USDT兑换TT的比例
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-inline">
                            <div class="form-group">
                                {$next_date}
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="price" id="price"placeholder="请填写TT价值" style="width: 150px;">
                            </div>
                            <button type="button" class="btn btn-default" id="add_submit">设置</button>&nbsp;&nbsp;
                            <button type="button" class="btn btn-default" id="from_close">清空</button>
                        </div>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col" width="30%">日期</th>
                                    <th scope="col" width="30%">兑换比例</th>
                                    <th scope="col" width=""></th>
                                </tr>
                            </thead>
                            <tbody>
                                {volist name="list" id="c"}
                                <tr>
                                    <td>{$c.id}</td>
                                    <td>{$c.price}</td>
                                </tr>
                                {/volist}
                            </tbody>
                        </table>
                        {$list->render()}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="custom_js"}
<script>

    $("#add_submit").click(function(){
        var price = $("#price").val();
        $.ajax({
            url: "/admin/app/tt价格/add/submit",
            type: "post",
            data: {price: price},
            success: function(data){
                data = JSON.parse(data)
                if(data.status == 3){
                    custom_notify('danger', '兑换比例设置', data.msg);
                }else if(data.status == 2){
                    custom_notify('warning', '兑换比例设置', data.msg);
                }else{
                    custom_notify('success', '兑换比例设置', data.msg);
                    setTimeout(() => {
                        location.href = "/admin/app/tt价格"
                    }, 1500);
                }
            }
        })
    })
</script>
{/block}