{extend name="base" /}

{block name="content"}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">等级管理</div>
                        <div class="card-sub text-warning">
                            增加局数废除, 提现系数为200USDT以外的百分比可提现(无等级的提现系数在系统设置中设置)
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">名称(中文)</th>
                                    <th scope="col">名称(英文)</th>
                                    <th scope="col">直推人数</th>
                                    <th scope="col">团队人数</th>
                                    <th scope="col">小区团队人数</th>
                                    <th scope="col">奖励</th>
                                    <!-- <th scope="col">增加局数</th> -->
                                    <th scope="col">矿机加速</th>
                                    <th scope="col">提现系数</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {volist name="list" id="vo"}
                                <tr id="tr">
                                    <td>{$vo->level_id}</td>
                                    <td>{$vo->level_name}</td>
                                    <td>{$vo->level_name_us}</td>
                                    <td>{$vo->直推人数}</td>
                                    <td>{$vo->团队人数}</td>
                                    <td>{$vo->小区团队人数}</td>
                                    <td>{$vo->奖励}%</td>
                                    <!-- <td>{$vo->增加局数}</td> -->
                                    <td>{$vo->矿机加速}%</td>
                                    <td>{$vo->提现系数}%</td>
                                    <td>
                                        <button class="btn btn-warning btn-xs" onclick="update('{$vo.level_id}')">修改</button>
                                    </td>
                                </tr>
                                {/volist}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="custom_js"}
<script>
    function update(level_id){
        location.href = "/admin/app/等级/update?level_id=" + level_id;
    }
</script>
{/block}
