{extend name="base" /}

{block name="content"}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">质押列表</div>
                        <div class="card-sub text-warning">

                        </div>
                    </div>
                    <div class="card-body">
                        <form class="form-inline" role="form" action="" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" name="user_id" id="user_id" value="{$user_id}" placeholder="会员id" style="width: 150px;">
                            </div>
                            <button type="submit" class="btn btn-default" id="search_submit">搜索</button>&nbsp&nbsp
                            <button type="button" class="btn btn-default" id="from_close">清空</button>
                        </form>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col" width="7%">#</th>
                                    <th scope="col" width="10%">id</th>
                                    <th scope="col" width="10%">昵称</th>
                                    <th scope="col" width="8%">质押USDT</th>
                                    <th scope="col" width="8%">可玩局数</th>
                                    <th scope="col" width="8%">已玩局数</th>
                                    <th scope="col" width="8%">中奖局数</th>
                                    <th scope="col" width="8%">未中奖局数</th>
                                    <th scope="col" width="5%">状态</th>
                                    <th scope="col">质押时间</th>
                                    <th scope="col">结算时间</th>
                                </tr>
                            </thead>
                            <tbody>
                                {volist name="list" id="vo"}
                                <tr id="tr">
                                    <td>{$vo.id}</td>
                                    <td>{$vo.user_id}</td>
                                    <td>{$vo.nickname}</td>
                                    <td>{$vo->质押USDT}</td>
                                    <td>{$vo->可玩局数}</td>
                                    <td>{$vo->已玩局数}</td>
                                    <td>{$vo->中奖局数}</td>
                                    <td>{$vo->未中奖局数}</td>
                                    <td>{$vo->status_text}</td>
                                    <td>{$vo->insert_time}</td>
                                    <td>{$vo->end_time}</td>
                                </tr>
                                {/volist}
                            </tbody>
                        </table>
                        {$list->render() | raw}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
