<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <script src="/static/index/js/mui.min.js"></script>
    <link href="/static/index/css/mui.min.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="/static/index/css/public.css"/>
    <script type="text/javascript" charset="utf-8">
      	mui.init();
    </script>
	<style type="text/css">
		.public_space_box{
			background: url(/static/index/img/分红.png);
			background-size: 100% 100%;
			padding: 10% 0;
		}
	</style>
</head>
<body>
	<header class="mui-bar mui-bar-nav head_color">
		<a href="javascript:;" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left white_color"></a>
		<h1 class="mui-title">{:lang('分红')}</h1>
	</header>
	<div class="mui-content mui-scroll-wrapper content_bg">
		<div class="mui-scroll">
			<div class="mui-row public_space_box">
				<div class="mui-col-sm-6 mui-col-xs-6 mui-text-center public_space">
					<p>{$tg}</p>
					<p class="clean_margin">{:lang('推广总收益')}</p>
				</div>
				<div class="mui-col-sm-6 mui-col-xs-6 mui-text-center">
					<p>{$td}</p>
					<p class="clean_margin">{:lang('团队总收益')}</p>
				</div>
			</div>
			{volist name="log" id="vo"}
			<div class="public_box public_box_bg">
				<div class="green_color">{$vo.content}</div>
				<div>{:lang('奖励')}:{$vo.number}{$vo.coin_type}</div>
				<div>{:lang('时间')}:{$vo.insert_time}</div>
			</div>
			{/volist}
		</div>
	</div>
	
	<script src="/static/index/js/jquery.min.js"></script>
	<script src="/static/index/js/public.js"></script>
	<script type="text/javascript">
		
	</script>
</body>
</html>
