<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <script src="/static/index/js/mui.min.js"></script>
    <link href="/static/index/css/mui.min.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="/static/index/css/public.css"/>
    <script type="text/javascript" charset="utf-8">
      	mui.init();
    </script>
	<style type="text/css">
		.public_box_bg{
			border-color: #3ae2c1;
			padding: 0;
		}
		.mui-segmented-control,.mui-segmented-control .mui-control-item{
			border: none;
		}
		.mui-segmented-control .mui-control-item{
			color: #eee;
		}
		.mui-segmented-control .mui-control-item:first-child::after{
			content: '';
			width: 2px;
			height: 17px;
			background-color: #3AE2C1;
			position: absolute;
			top: 12px;
			right: 50%;
		}
		.mui-segmented-control .mui-control-item.mui-active{
			background-color: rgba(0,0,0,0);
			color: #3ae2c1;
		}
		select{
			background-color: rgba(0,0,0,0);
			margin: 0;
		}
		select option{
			background-color: rgba(0,0,0,0);
			color: #333;
		}
	</style>
</head>
<body>
	<header class="mui-bar mui-bar-nav head_color">
		<a href="javascript:;" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left white_color"></a>
		<h1 class="mui-title">{:lang('转账')}</h1>
	</header>
	<div class="mui-content mui-scroll-wrapper content_bg">
		<div class="mui-scroll">
			<div class="getRecordTit mui-segmented-control mui-segmented-control1">
				<a href="#get1" class="mui-control-item mui-active">{:lang('子账号转账')}</a>
				<a href="#get2" class="mui-control-item">{:lang('全网转账')}</a>
			</div>
			<div class="getRecordList mui-content-padded">
				<div id="get1" class="mui-control-content mui-active">
					<div class="public_box">
						<div class="public_box_bg flexbox_nowrap flexbox_nowrap_between">
							<select id="z_coin_type">
							  <option value="USDT">USDT</option>
							  <option value="TTP">TTP</option>
							  <option value="门票">{:lang('门票')}</option>
							</select>
							<div class="mui-icon mui-icon-arrowdown"></div>
						</div>
						<div class="mui-text-right" id="z_USDT">{:lang('USDT余额')}: {$user->userfund->USDT}</div>
						<div class="mui-text-right" id="z_TTP" style="display: none;">{:lang('TTP余额')}: {$user->userfund->TTP}</div>
						<div class="mui-text-right" id="z_门票" style="display: none;">{:lang('门票余额')}: {$user->userfund->门票}</div>
						<div class="public_box_bg flexbox_nowrap flexbox_nowrap_between">
							<select id="z_to_user_id">
								{volist name="accounts" id="vo"}
								{if condition="$vo.id != $user_id"}
								<option value="{$vo.id}">{$vo.nickname}</option>
								{/if}
								{/volist}
							</select>
							<div class="mui-icon mui-icon-arrowdown"></div>
						</div>
						<div class="public_box_bg">
							<input type="number" id="z_number" placeholder="{:lang('请输入转账数量')}">
						</div>
						<div class="public_box_bg">
							<input type="password" id="z_level_password" placeholder="{:lang('请输入二级密码')}">
						</div>
						<a href="javascript:;" class="a_big_btn a_btn" id="z_btn">{:lang('确认转账')}</a>
					</div>
				</div>
				<div id="get2" class="mui-control-content">
					<div class="public_box">
						<div class="public_box_bg flexbox_nowrap flexbox_nowrap_between">
							<select id="a_coin_type">
							  <option value="USDT">USDT</option>
							  <option value="TTP">TTP</option>
							  <option value="门票">{:lang('门票')}</option>
							</select>
							<div class="mui-icon mui-icon-arrowdown"></div>
						</div>
						<div class="mui-text-right" id="a_USDT">{:lang('USDT余额')}: {$user->userfund->USDT}</div>
						<div class="mui-text-right" id="a_TTP" style="display: none;">{:lang('TTP余额')}: {$user->userfund->TTP}</div>
						<div class="mui-text-right" id="a_门票" style="display: none;">{:lang('门票余额')}: {$user->userfund->门票}</div>
						<div class="public_box_bg">
							<input type="text" id="a_to_user_id" placeholder="{:lang('请输入对方UID')}">
						</div>
						<div class="public_box_bg">
							<input type="number" id="a_number" placeholder="{:lang('请输入转账数量')}">
						</div>
						<div class="public_box_bg">
							<input type="password" id="a_level_password" placeholder="{:lang('请输入二级密码')}">
						</div>
						<a href="javascript:;" class="a_big_btn a_btn all_btn" id="a_btn">{:lang('确认转账')}</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="/static/index/js/jquery.min.js"></script>
	<script src="/static/index/js/public.js"></script>
	<script type="text/javascript">
		// 点击按钮获取选中的值
		$('.son_btn').click(()=>{
			console.log($('#money_type').val())
		})
		$('.all_btn').click(()=>{
			console.log($('#all_money_type').val())
		})

		$("#z_coin_type").change(function(){
			values = $("#z_coin_type").val();
			$("#z_USDT").attr('style', 'display: none;');
			$("#z_TTP").attr('style', 'display: none;');
			$("#z_门票").attr('style', 'display: none;');
			$("#z_" + values).attr('style', '');
		})

		$("#a_coin_type").change(function(){
			values = $("#a_coin_type").val();
			$("#a_USDT").attr('style', 'display: none;');
			$("#a_TTP").attr('style', 'display: none;');
			$("#a_门票").attr('style', 'display: none;');
			$("#a_" + values).attr('style', '');
		})

		// 点击按钮获取选中的值
		$('#z_btn').click(()=>{
			var coin_type = $("#z_coin_type").val();
			var to_user_id = $("#z_to_user_id").val();
			var number = $("#z_number").val();
			var level_password = $("#z_level_password").val();
			$("#z_level_password").val('')
			$.ajax({
				url: "/index/me/转账提交",
				type: "post",
				data: {type: 'z', coin_type: coin_type, to_user_id: to_user_id, number: number, level_password: level_password},
				success: function(data){
					data = JSON.parse(data)
					mui.toast(data.msg)
					if(data.code == 1){
						setTimeout(() => {
							location.href = "/index/me/转账"
						}, 1000);
					}
				}
			})
		})

		$("#a_btn").click(function(){
			var coin_type = $("#a_coin_type").val();
			var to_user_id = $("#a_to_user_id").val();
			var number = $("#a_number").val();
			var level_password = $("#a_level_password").val();
			$("#a_level_password").val('')
			$.ajax({
				url: "/index/me/转账提交",
				type: "post",
				data: {type: 'a', coin_type: coin_type, to_user_id: to_user_id, number: number, level_password: level_password},
				success: function(data){
					data = JSON.parse(data)
					mui.toast(data.msg)
					if(data.code == 1){
						setTimeout(() => {
							location.href = "/index/me/转账"
						}, 1000);
					}
				}
			})
		})
	</script>
</body>
</html>
