{extend name="base" /}

{block name="content"}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            会员信息编辑
                            <button class="btn btn-success btn-xs" style="float: right;" onclick="location.href='/admin/user'">
                                <i class="la la-mail-reply"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul id="myTab" class="nav nav-tabs" role="tablist">
                            <li class="active" style="padding-right: 10px;">
                                <a href="#detail" role="tab" data-toggle="tab">
                                    <button class="tab_btn btn btn-default">编辑信息</button>
                                </a>
                            </li>
                            <li style="padding-right: 10px;">
                                <a href="#password" role="tab" data-toggle="tab">
                                    <button class="tab_btn btn btn-warning">修改密码</button>
                                </a>
                            </li>
                            <li style="padding-right: 10px;">
                                <a href="#lpassword" role="tab" data-toggle="tab">
                                    <button class="tab_btn btn btn-warning">修改二级密码</button>
                                </a>
                            </li>
                            <li style="padding-right: 10px;">
                                <a href="#level" role="tab" data-toggle="tab">
                                    <button class="tab_btn btn btn-warning">设置等级</button>
                                </a>
                            </li>
                        </ul>
                        <!-- 选项卡面板 -->
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane active" id="detail">
                                <div class="card-body" style="padding: 15px 200px 10px;">
                                    <div class="form-group">
                                        <label for="nickname">昵称</label>
                                        <input type="text" class="form-control" id="nickname" value="{$detail.nickname}">
                                        <small id="emailHelp" class="form-text text-muted text-danger"></small>
                                    </div>
                                    <div class="card-action" style="display: flex; justify-content: center;">
                                        <button class="btn btn-success" style="margin-right: 10px;" id="detail_submit">提交</button>
                                        <button class="btn btn-danger cancel">返回</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane " id="password">
                                <div class="card-body" style="padding: 15px 200px 10px;">
                                    <div class="form-group">
                                        <label for="login_password">修改密码</label>
                                        <input type="text" class="form-control" id="login_password">
                                        <small id="emailHelp" class="form-text text-muted text-danger">6到20位数字和字母的组合</small>
                                    </div>
                                    <div class="card-action" style="display: flex; justify-content: center;">
                                        <button class="btn btn-success" style="margin-right: 10px;" id="password_submit">提交</button>
                                        <button class="btn btn-danger cancel">返回</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane " id="lpassword">
                                <div class="card-body" style="padding: 15px 200px 10px;">
                                    <div class="form-group">
                                        <label for="level_password">修改二级密码</label>
                                        <input type="text" class="form-control" id="level_password">
                                        <small id="emailHelp" class="form-text text-muted text-danger">6位纯数字</small>
                                    </div>
                                    <div class="card-action" style="display: flex; justify-content: center;">
                                        <button class="btn btn-success" style="margin-right: 10px;" id="lpassword_submit">提交</button>
                                        <button class="btn btn-danger cancel">返回</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane " id="level">
                                <div class="card-body" style="padding: 15px 200px 10px;">
                                    <div class="form-group">
                                        <label for="category_name">设置等级*</label>
                                        <select class="form-control form-control-sm" id="level_id">
                                            <option value="0" {if condition="$detail.level == 0"}selected{/if}>普通会员</option>
                                            {volist name="level" id="vo"}
                                            <option value="{$vo.level_id}" {if condition="$detail.level == $vo.level_id"}selected{/if}>{$vo.level_name}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                    <div class="card-action" style="display: flex; justify-content: center;">
                                        <button class="btn btn-success" style="margin-right: 10px;" id="level_submit">提交</button>
                                        <button class="btn btn-danger cancel">返回</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" name="user_id" id="user_id" value="{$detail.user_id}"/>
{/block}

{block name="custom_js"}
<script>
//取消
$(".cancel").click(function(){
    location.href = "/admin/user";
})

//非法操作
var has_data = "{$has_data}";
if(has_data == "false"){
    custom_notify('danger', '会员信息编辑', '非法操作');
    setTimeout(() => {
        location.href = "/admin/user";
    }, 1000);
}

$(".tab_btn").click(function(){
    $(".tab_btn").attr('class', 'tab_btn btn btn-warning');
    $(this).attr('class', 'tab_btn btn btn-default');
})

$("#detail_submit").click(function(){
    var fd = new FormData();
    fd.append('nickname', $("#nickname").val());
    fd.append('user_identity', $("#user_identity").val());
    update_submit('detail', fd);
})

$("#password_submit").click(function(){
    var fd = new FormData();
    fd.append('password', $("#login_password").val());
    update_submit('password', fd);
})

$("#lpassword_submit").click(function(){
    var fd = new FormData();
    fd.append('level_password', $("#level_password").val());
    update_submit('level_password', fd);
})

$("#level_submit").click(function(){
    var fd = new FormData();
    fd.append('level', $("#level_id").val());
    update_submit('level', fd);
})

function update_submit(stype, fd){
    $.ajax({
        url: "/admin/user/update/submit/" + stype + '/' + $("#user_id").val(),
        type: "post",
        processData: false,
        contentType: false,
        data: fd,
        success: function(data){
            data = JSON.parse(data);
            if(data.code == 3){
                custom_notify('danger', '会员信息修改', data.msg);
            }else if(data.code == 2){
                custom_notify('warning', '会员信息修改', data.msg);
            }else if(data.code == 1){
                custom_notify('success', '会员信息修改', data.msg);
            }
        }
    })
}
</script>
{/block}