0.4.<!doctype html>
<html>
<head>
<title>正在打开</title>
<meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico"><meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes"><meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta http-equiv="refresh" content="2.3;url=/" />
<style>
      div{
            position: absolute;
            background-size: 100% 100%;
      }
</style>
</head>
<body>
      <div style="height: 100%; width: 100%; background-image: url('/static/index/img/启动图.gif');">

      </div>
</body>
</html>