.content_bg{
	background: url(../img/登录.png);
	background-size: 100% 100%;
}
.login_title{
	margin-left: 10%;
	margin-top: 10%;
}
.head_img{
	width: 100px;
	height: 100px;
	display: block;
	margin: 5px auto;
	/* border-radius: 50%; */
}
.title{
	width: 65px;
	margin: 10px auto;
}
.public_box_bg{
	border: 1px solid #3ae2c1;
	padding: 0;
	padding-left: 10px;
}
.select_box{
	width: 32%;
	border: 1px solid #3AE2C1;
	margin-left: auto;
}
.select_box div{
	color: #3AE2C1;
}
.select_box select{
	display: block;
	text-align: center;
	background-color: rgba(0,0,0,0);
	margin: 0;
	padding: 5px 10px;
}
.select_box select option{
	background-color: rgba(0,0,0,0);
	color: #333;
}